<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
  {{> header }}
  <p>This website uses <a href="https://www.mapbox.com/" target="_">mapbox</a> public API to fetch weather forecast.</p>
  <img class="portrait" src="/img/bear.jpg" alt="weather-bear">
  <p>GitHub Reopsitory of this project: <a href="https://github.com/MitraNami/node-weather-website" target="_blank">GitHub</a></p>
  </div>
  {{> footer }}
</body>

</html>